body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1020px;
}
.header {
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 90px;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.logo__element {
    color: #f06c64;
}
.navigation {
    display: flex;  
    margin-top: 5px;
}
.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.navigation__decoration {
    margin: 0 12px;
    color: #3d4151;
}
.navigation__link_active {
    color: #f06c64;
}
.separator {
    height: 5px;
}
.separator_color_grey {
    background-color: #323746;
}
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 594px;
    background-color: #f06c64;
    padding: 0 40px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.slider__right:hover {
    cursor: pointer;
}
.slider__left:hover {
    cursor: pointer;
}
.slider__iphone-vertical {
    position: absolute;
    left: 112px;
    top: 53px;
}
.slider__iphone-horizontal {
    position: absolute;
    left: 425px;
    top: 174px;
}
.separator_color_red {
    background-color: #ea676b;   
}
.separator_color_white {
    background-color: white;
}
.services {
    padding: 0 40px;
    background-color: #f2f2f2;
    color: #666d89;
    height: 495px;
}
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 45px;
}
.card {
    display: flex;  
    width: calc(33.3333333333% - 20px);
    margin: 0 10px;
    padding-bottom: 34px;
}
.services__title {
    padding-top: 62px;
    font-size: 30px;
    font-weight: 900;
}
.services__description {
    margin-top: 22px;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.7;
    word-spacing: 1px;
}
.card__img {
    width: 60px;
    height: 60px;
}
.card__text {
    margin-left: 22px;
}
.card__title {
    font-size: 18px;
    font-weight: 900;
    margin-top: -2px;
}
.card__description {
    font-size: 12px;
    line-height: 1.83;
    padding-top: 11px;
}


